
.btn {
    color: black;
    text-decoration: none;
    background-color: white;
    border-radius: 5px;
    padding: .8rem 1rem;
    box-shadow: 0 1rem 4rem rgba(0, 0, 0, .25);
    transition: 0.2s all;
    outline: none;
    display: inline-block;

    &:active {
        transform: translateY(4px);
    }

    &-smaller {
        // font-size: 
    }

    &--main {
        color: white;
        padding: 1.5rem 2rem;
        background-color: $color-main;
    }

    &--login {
        width: 100%;
        border: none;
        background-color: $color-main;
        color: white;
        cursor: pointer;
        padding: 1.5rem 1rem;
    }

    &--publish {
        cursor: pointer;
        background-color: $color-main;
        color: white;
        border: 1px solid rgba(0,0,0,.125);
        margin: 2rem 0;
        margin-top: 6rem;
    }
}

.svg {
    width: 35rem;

    &--second {
        width: 40rem;
    }

    &__main {
        width: 50rem;
    }
}

.main {
    margin-bottom: 10rem;
    display: flex;
    flex-direction: column;
    background-color: white;

    &__section {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 6rem 0;
        // &__graphic {
        //     width: 
        // }

        &__text {
            max-width: 50%;
            font-size: 2.2rem;
            font-weight: 500;
            line-height: 1.5;
        }
    }
}

.cta {
    background-color: $color-offset;
    padding: 8rem 0;

    & > .container {
        display: flex;
        flex-direction: column;
        align-items: center;

        & > h2 {
            margin: 3rem 0;
        }
    }
}

.footer {
    height: 10vh;
    display: flex;
    align-items: center;
    background-color: $color-main;

    & > .container {
        width: 100%;
    }

    h3 {
        color: white;
        font-weight: 400;
    }
}

.story {
    .meta {
        display: flex;
        flex-direction: column;

        &__title {
            margin: 5rem 0;
            margin-bottom: 0;
        }

        &__details {
            margin: 3rem 0;
            display: flex;
            align-items: center;

            & > * {
                margin: 0 1rem;
            }

            &__img {
                margin-left: 0;
            }

            &__author {

            }

            &__date {

            }
        }
    }

    &__img {
        max-width: 100%;
    }

    &__txt {
        font-size: 2rem;
    }
}

.login {

    &__wrapper {
        height: 80vh;
    }

    &__switch {
        max-width: 60rem;
        margin: 6rem auto;
        margin-bottom: 13rem;
    }

    &__span {
        color: $color-main;

        &:hover {
            cursor: pointer;
        }
    }

}

.flash {
    &__success {
        max-width: 60rem;
        margin: 2rem auto;
        margin-bottom: -2rem;
    }
    &__failure {       
    }
}

.profile {
    margin: 6rem 0;
    height: 65vh;

    &__username {
        margin: 3rem 0;
    }

    &__details {
        display: flex;
        margin: 8rem 0;

        & > div {
            & > p {
                font-weight: 600;
                margin: 2rem 0;
            }
        }
    }
    
    &__picture {

        &__container {
            margin-right: 5rem;

            p {
                margin: 2rem 0;
            }
        }

        &__img {
            max-width: 20rem;
        }
    }

    &__summary {

        &__container {
            width: 50%;
            & > textarea {
                width: 100%;
                height: 82%;
                resize: none;
                padding: 1rem;
                line-height: 1.4;
            }
        }
    }

    &__credentials {
        max-width: 60%;

        &__container {
            & > label {
            }

            & > input {
                max-width: 50%;
            }
        }
    }

    & > button {
        margin: 4rem 0;
        border: none;
        cursor: pointer;
    }
}

.edit {

    &__story {
        max-width: 100%;
        height: 30vh;
    }

    textarea {
        width: 100%;
        height: 82%;
        // resize: none;
        padding: 1rem;
        line-height: 1.4;
    }

    &__form {
        margin: 4rem 0;
    }

    &__title {
        display: flex;
        flex-direction: column;
        max-width: 50%;
    }

    &__tags {
        display: flex;
        flex-direction: column;

        &__title {
            display: flex;
            align-items: center;
        }

        &__add {
            @include icon-btns;
        }
    }
}

.tag {
    display: flex;
    
    &__input {
        max-width: 18rem;
        padding: .8rem 1rem;
        margin: 1rem 0;
    }

    &__img {
        @include icon-btns;
    }
}