* {
    font-family: $main-font;
}

.title-text {
    color: white;
    margin: 2rem 0;
    font-weight: 500;
    font-size: $font-size-largest;
}

.text-white {
}

.font-small {
    font-size: $font-size-small;
}

.font-medium {
    font-size: $font-size-medium;
}

.font-large {
    font-size: $font-size-large;
}

.link-text-large {
    font-size: $font-size-large;
    @include erase-link;
    color: white;
}

// .btn {
//     &-text {
//         font-size: $font-size-small;
//     }

//     &-smaller {
//         font-size: $font-size-smallest;
//     }
// }