.cred {
    max-width: 60rem;
    margin: 6rem auto;
    padding: 2rem 0;
    @include outline-card;

    display: flex;
    flex-direction: column;
    align-items: center;

    &__form {
        width: 60%;
        margin: 4rem 0;

        & > h2 {
            margin: 3rem 0;
        }
    }

    &__email,
    &__password,
    &__username,
    &__name {
        margin: 2rem 0;
        display: flex;
        flex-direction: column;

        & > input {
            // padding: .8rem .3rem;
            padding: 1rem;
            margin: .5rem 0;
            font-size: 1.6rem;

            &:focus {
                // border: 2px solid blue;
                // outline: blue;
            }
        }
    }
}